{% extends "index.html" %}
{% load static %}
{% block header %}

{% endblock %}
{% block contents %}
{% csrf_token %}
<section class="left-image">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <img src="{% static 'img/left-image.jpg' %}" alt="">
      </div>
      <div class="col-md-6">
        <div class="right-content">
          <h4>개발자는 간식을 먹어줘야합니다.</h4>
          <div>
            개발자에게 폭력을 멈춰주세요.</br>
            일만 명확히주면 착한 친구들입니다.</br>
            </br>
            개발자의 머리카락을 보호해주세요.</br>
            월급보다 머리카락이 더 비싸요.</br>
          </div>
          <div class="primary-button">
            <a href="#">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


{% endblock %}